body {
    font-family: serif;
    font-size: x-large;
    font-style:initial;
    color: white;
    background-image: url("airplane-33.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
    width: 100%;
    
  }
  #generationimg{
    margin-top: 20px;
    margin-left: 100px;
  }
  
  .grid{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 5;
    gap: 2px;
    background-color: rgb(11, 92, 142);
    text-align: center;
  }
  #item1{
    grid-row: 1;
    grid-column: 1;
  }
  #item2{
    grid-row: 1;
    grid-column: 2;
  }
  #item3{
    grid-row: 1;
    grid-column: 3;
  }
  #item4{
    grid-row: 1;
    grid-column: 4;
  }
  #item5{
    grid-row: 1;
    grid-column: 5;
  }
  
  /*#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }*/
  

.class1{
    border: 1px solid rgb(132, 124, 124);
    color: black;
    font: 1em sans-serif;
    font-style: normal;
    font-size: medium;
    height: 340px;
    width: 400px;
    margin: 0px 40px 50px 120px;
    align-self: right;
    background-color: rgb(24, 170, 228);

}
#errorname1{
  color: #D8000C;
  background-color: yellow;
  font-size:small;
  margin-left: 15px;
}
#errorname2{
  color: #D8000C;
  font-size:small;
  background-color: yellow;
  margin-left: 165px;
}
#errorname3,#errorname5,#errorname6{
  color: #D8000C;
  background-color: yellow;
  font-size:small;
  margin-left: 5px;
}

*{
    box-sizing: border-box;
}

.class1 input{
    box-sizing: border-box;
    font-size: 0.8em;
    width: 180px;
    height: 25px;
    padding: 1px;
    margin-left: 15px;
    margin-bottom: 5px;
  }

#depart,#return{
  box-sizing: border-box;
    font-size: 0.8em;
    width: 150px;
    height: 25px;
    padding: 1px;
    margin-left: 5px;
    margin-bottom: 5px;
}  

  select{
    
    box-sizing: border-box;
    font-size: 0.7em;
    width: 150px;
    height: 25px;
    padding: 1px;
    margin-left: 12px;
    margin-bottom: 5px;
  }
 
#oneway{
    width:auto;
    margin-left: 50px;
}
#roundtrip{
    width:auto;
    margin-left: 20px;
}

h2{
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
}  
button {
    height: 40px;
    width: 80px;
    background: rgb(183, 183, 33);
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-left: 70px;
    margin-top:20px;
  }
button:hover {
    border: 2px solid black;
  }

label{
      text-align: left;
      margin-left: 10px;
  }
